
h1{font-style: italic;color: rgb(65, 20, 28) (175, 53, 74);text-shadow: 10cap;}
h3{font-family: Arial, Helvetica, sans-serif; color: rgb(104, 59, 207);}
p{color: rgb(41, 21, 21);}
h4{color: bisque;}