/* General */
h1{font-style: italic; color: rgb(126, 16, 68); text-align: center;}
h3{color: rgb(69, 45, 45);text-align: center;}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fa91db;
    color: #333;
    line-height: 1.6;
}
     
h5{text-align: center;}

p{margin:auto; text-align: center;}

    /* Encabezado */
#Sabana Fashion {
    text-align: left;
    padding: 20px;
    background-color: #ecf0f1;
    margin-bottom: 20px;
}

 h4 {text-align: center}

footer{text-align: center;}

button{size: 50px;}

.formas{text-align: center;}


#izq {
    position: absolute;
    top: 15px;
    left: 15px;
}